AmmoPanel {
  .ammo-display {
    position: absolute;
    right: 32px;
    bottom: 32px;
    gap: 10px;
    background-color: #333;
    opacity: 0.8;
    border-radius: 3px;
    padding: 10px 20px;
    color: #3498db;
    font-weight: 400;
    font-size: 50px;
    font-family: Cascadia Code;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    transition: background-color 0.2s;

    .low-warning {
      color: #efac1a;
    }

    .empty {
      color: #db3442;
    }

    &.reloading {
      .current-ammo {
        opacity: 0.1;
      }
      
      background-color: #0004;
      opacity: 0.7;
      backdrop-filter: blur(16px);
      transition: background-color 0.2s;
    }
  }
}