$primary-color: rgb(255, 71, 71);

HurtIndicatorPanel {
	.hurt-indicator {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding:10px;
		background-color: rgba(0, 0, 0, 0);
		border: 120px solid rgba($primary-color, 0.5);
		border-radius: 25px;
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.1s ease;
		filter: blur(25px);
		z-index: 0;
		
		&.visible {
			opacity: 1;
		}
	}
}