@using System
@using Sandbox.UI
@inherits Panel
@namespace Ultraneon.UI
@attribute [StyleSheet]

<root>
	<div class="hotbar-wrapper">
		<div class="hotbar">
			@for ( int i = 0; i < MAX_INVENTORY_SLOTS; i++ )
			{
				int slotIndex = i;
				<div class="item @( Inventory?.ActiveWeapon != null && Inventory?.SelectedSlot == slotIndex ? "selected" : "" )">
					<div class="item-number">@( slotIndex + 1 )</div>
					<div class="item-content">
						@if ( Inventory?.Weapons != null && Inventory.Weapons.Length > slotIndex && Inventory.Weapons[slotIndex] != null )
						{
							<div class="item-name">@Inventory.Weapons[slotIndex].GameObject.Name</div>
						}
						else
						{
							<div class="item-name"></div>
						}
					</div>
				</div>
			}
			<div class="item action holster">
				<div class="item-number">5</div>
				<div class="item-content">
					<div class="icon">pan_tool</div>
				</div>
			</div>
		</div>
	</div>
</root>

@code
{
	const int MAX_INVENTORY_SLOTS = 4;

	[Property]
	public PlayerInventory Inventory { get; set; }

	private WeaponBaseNeon[] lastWeapons = new WeaponBaseNeon[MAX_INVENTORY_SLOTS];

	protected override void OnAfterTreeRender( bool firstTime )
	{
		base.OnAfterTreeRender( firstTime );

		if ( firstTime )
		{
			var player = Scene.Components.GetAll<Entity>().FirstOrDefault( x => x.GameObject.Tags.Has( "player" ) );
			Inventory = player?.GameObject.Components.Get<PlayerInventory>();
		}
	}

	public override void Tick()
	{
		base.Tick();

		if ( Inventory != null && HasInventoryChanged() )
		{
			StateHasChanged();
			UpdateLastWeapons();
		}
	}

	private bool HasInventoryChanged()
	{
		if ( Inventory == null || Inventory.Weapons == null ) return false;

		for ( int i = 0; i < MAX_INVENTORY_SLOTS; i++ )
		{
			if ( Inventory.Weapons[i] != lastWeapons[i] )
			{
				return true;
			}
		}

		return false;
	}

	private void UpdateLastWeapons()
	{
		for ( int i = 0; i < MAX_INVENTORY_SLOTS; i++ )
		{
			lastWeapons[i] = Inventory.Weapons[i];
		}
	}

	protected override int BuildHash()
	{
		return System.HashCode.Combine( Inventory?.SelectedSlot, string.Join( ",", Inventory?.Weapons?.Select( w => w?.GameObject.Name ?? "Empty" ) ?? Array.Empty<string>() ) );
	}
}
