$primary-color: #e847ff;
$background-color: rgba(0, 0, 0, 0.7);
$text-color: #fff;

OvertimeClockPanel {
  .overtime-clock {
    position: absolute;
    bottom: 150px;
    right: 32px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: $background-color;
    backdrop-filter: blur(5px);
    color: $text-color;
    font-family: Cascadia Code;

    .overtime-label {
      font-size: 24px;
      color: $primary-color;
      margin-bottom: 5px;
    }

    .overtime-time {
      font-size: 36px;
      text-shadow: 0 0 10px rgba($primary-color, 0.7);
    }
  }
}