@using Sandbox.UI
@inherits Panel
@namespace Ultraneon.UI
@attribute [StyleSheet]

<root>
	<div class="ammo-display">
		<div class="current-ammo">@CurrentAmmo</div>
		<div class="ammo-separator">/</div>
		<div class="max-ammo">@MaxAmmo</div>
	</div>
</root>

@code
{
	private Entity player;
	private WeaponBaseNeon weapon;
	public int CurrentAmmo { get; set; }
	public int MaxAmmo { get; set; }

	protected override void OnAfterTreeRender( bool firstTime )
	{
		base.OnAfterTreeRender( firstTime );

		if ( firstTime )
		{
			player = Scene.GetAllComponents<Entity>().FirstOrDefault( x => x.GameObject.Tags.Has( "player" ) );
			weapon = player?.Components.Get<WeaponBaseNeon>();
		}
	}

	public override void Tick()
	{
		if ( player == null )
		{
			return;
		}

		var currentPlayerWeapon = player?.Components?.Get<PlayerInventory>()?.activeWeapon;

		if ( currentPlayerWeapon == null )
		{
			weapon = null;
		}
		else if ( weapon != currentPlayerWeapon )
		{
			weapon = currentPlayerWeapon;
		}

		if ( weapon != null )
		{
			// TODO add from WeaponBaseNeon
			CurrentAmmo = 0;
			MaxAmmo = weapon.clipSize;
		}
		else
		{
			CurrentAmmo = 0;
			MaxAmmo = 0;
		}
	}
}
