@using Sandbox.UI
@inherits Panel
@namespace Ultraneon.UI
@attribute [StyleSheet]

<root>
	<div class="ammo-display">
		<div class="current-ammo">@CurrentAmmo</div>
		<div class="ammo-separator">/</div>
		<div class="max-ammo">@MaxAmmo</div>
	</div>
</root>

@code
{
	[Property]
	public PlayerInventory Inventory { get; set; }

	private WeaponBaseNeon lastWeapon;
	public int CurrentAmmo { get; set; }
	public int MaxAmmo { get; set; }

	protected override void OnAfterTreeRender( bool firstTime )
	{
		base.OnAfterTreeRender( firstTime );

		if ( firstTime )
		{
			lastWeapon = Inventory.activeWeapon;
		}
	}

	public override void Tick()
	{
		if ( Inventory.activeWeapon == null )
		{
			lastWeapon = null;
		}
		else
		{
			lastWeapon = Inventory.activeWeapon;
		}
		
		if (lastWeapon == null)
		{
			CurrentAmmo = 0;
			MaxAmmo = 0;
			return;
		}
		
		CurrentAmmo = 0; // TODO: lastWeapon.currentAmmo
		MaxAmmo = lastWeapon.clipSize; // TODO: lastWeapon.maxAmmo
	}
}
