@using Sandbox.UI
@inherits Panel
@namespace Ultraneon.UI
@attribute [StyleSheet]

<root>
	<div class="crosshair">
		<div class="crosshair-top"></div>
		<div class="crosshair-right"></div>
		<div class="crosshair-bottom"></div>
		<div class="crosshair-left"></div>
	</div>
</root>

@code
{
}
