@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="vitals">
        <div class="health">
            <div class="icon">heart_broken</div>
            <div class="value">100</div>

        </div>
    </div>
</root>

@code
{

}
