@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="vitals">
        <div class="health">
            <div class="icon">heart_broken</div>
            <div class="value">
                <p>@player?.health</p>
            </div>

        </div>
    </div>
</root>

@code
{
    [Property] PlayerEntity player { get; set; }



    protected override int BuildHash()
    {
        player = Scene.GetAllComponents<PlayerEntity>().FirstOrDefault();
      
        return player.IsValid()? System.HashCode.Combine(player.health) : 0;
    }
}
