@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="vitals">
        <div class="health">
            <div class="icon">add_box</div>
            <div class="value">
                <p>@player?.health</p>
            </div>

        </div>
    </div>
    <div class="hotbar">
        <div class="items">1</div>
        <div class="items">2</div>
        <div class="items">3</div>
        <div class="items">4</div>
    </div>
    <div class="crosshair">
        x
    </div>
</root>

@code
{

    [Property] PlayerEntity player { get; set; }


    protected override int BuildHash()
    {
        player = Scene.GetAllComponents<PlayerEntity>().Where(x => !x.IsProxy).FirstOrDefault();

        return player.IsValid()? System.HashCode.Combine(player.health) : 0;
    }
}
