@using System
@using Sandbox.UI
@using Ultraneon.Domain.Events
@using Game = Sandbox.Game
@inherits PanelComponent
@namespace Ultraneon.UI
@attribute [StyleSheet]

<root class="@( IsVisible ? "visible" : "hidden" )">
	<div class="menu-container">
		<div class="title"><span class="title-1">GAME</span>&nbsp;<span class="title-2">OVER</span></div>
		<p class="max-wave">Max Wave Reached: @MaxWaveReached</p>
		<div class="button-container">
			<button class="menu-button" onclick=@OnPlayAgainClick>
				<span>Play Again</span>
			</button>
			<button class="menu-button" onclick=@OnMainMenuClick>
				<span>Main Menu</span>
			</button>
		</div>
	</div>
</root>

@code {
	private bool IsVisible { get; set; }
	private int MaxWaveReached { get; set; }

	public void Show( int maxWaveReached )
	{
		MaxWaveReached = maxWaveReached;
		IsVisible = true;
		StateHasChanged();
	}

	public void Hide()
	{
		IsVisible = false;
		StateHasChanged();
	}

	private void OnPlayAgainClick()
	{
		Game.ActiveScene.LoadFromFile( "scenes/sp/sp_c1_intro.scene" );
	}

	private void OnMainMenuClick()
	{
		Game.ActiveScene.LoadFromFile( "scenes/ui/mainmenu.scene" );
	}

	protected override int BuildHash() => HashCode.Combine( IsVisible, MaxWaveReached );
}
