@using Sandbox
@using Sandbox.UI
@inherits Panel
@namespace Ultraneon.UI
@attribute [StyleSheet]

<root>
	<div class="vitals">
		<div class="icon">add_box</div>
		<div>@( ((BaseNeonCharacterEntity)Player)?.Health )</div>
	</div>
</root>

@code
{
	[Property]
	public PlayerNeon Player { get; set; }

	protected override void OnAfterTreeRender( bool firstTime )
	{
		base.OnAfterTreeRender( firstTime );

		if ( firstTime )
		{
			Player = Scene.GetAllComponents<PlayerNeon>().FirstOrDefault( x => x.GameObject.Tags.Has( "player" ) );
		}
	}

	protected override int BuildHash()
	{
		return System.HashCode.Combine( ((BaseNeonCharacterEntity)Player)?.Health );
	}
}
