MainMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cascadia Code, Arial, sans-serif;
  pointer-events: all;
  backdrop-filter: blur(10px);

  &.hidden {
    display: none;
    pointer-events: none;
  }

  .menu-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 16px;
      margin-bottom: 40px;

      .title-1 {
        font-size: 64px;
        color: #fff;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
      }
      .title-2 {
        font-size: 64px;
        color: #e847ff;
        text-shadow: 0 0 10px rgba(232, 71, 255, 0.5);
      }
    }
  }

  .button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .menu-button {
    background-color: rgba(52, 152, 219, 0.8);
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.1s;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    text-transform: uppercase;
    letter-spacing: 2px;

    &:hover {
      background-color: rgba(41, 128, 185, 0.9);
      transform: scale(1.05);
      box-shadow: 0 0 15px rgba(52, 152, 219, 0.5);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}