{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "player": "Unset",
    "debris": "Unset",
    "playerclip": "Ignore"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "debris",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "playerclip",
      "r": "Collide"
    }
  ],
  "__guid": "0a7c8e92-65f4-479b-959c-f64647e76a74",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}